@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 36px;
}
.icon {
  font-family: 'Material Icons';
  font-size: 36px;
}
.form {
  width: 371px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin: auto;
}
.searh-input {
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.searh-input:hover {
  border: 1px solid #000;
}
.searh-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}
.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  color: white;
  border: none;
}
.search-btn:hover {
  background: #6c8cff;
}
.gallery {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  max-width: 1200px;
}
.img-box {
  display: flex;
  border: 1px solid #808080;
}

.gallery-link {
  outline: 1px solid #808080;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.content-box {
  width: 360px;

  position: absolute;
  transform: translateY(-100%);
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 12px;

  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 12px;

  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.loader {
  color: #000000;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader:before {
  content: '{';
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: '}';
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
